/* for the colors, the Solarized color palette is used: http://ethanschoonover.com/solarized */

body{
	background: #FDF6E3;
	font-family: sans-serif;
}

/* get rid of dotted selection borders in browsers */
*,*:hover,*:focus,*:active { outline: 0px none; }

/* anchor coloring */
a, a:focus, a:active{
	color: #073642;
}

a:hover{
	color: #268BD2;
}

#error_table{
	margin-top: 2em;
}

table{
	border: 1px solid #002B36;
	/* removing the gaps of the table */
	border-spacing: 0;
	/* prevent double borders */
	border-collapse: collapse;
}

th{
	padding: 3px 4px;
	background: #002B36;
	color: #EEE8D5;
}

td{
	padding: 3px 4px;
	margin: 0px;
	border-top: 1px solid #002B36;
}

/* apply pointer cursor to table header indication the possibility of action (sorting) */
.tablesorter th{
	cursor: pointer;
}

/* for zebra coloring - tablesorter plugin functionality */
.odd{
	background: #EEE8D5;
}

.even{
	background: #FDF6E3;
}

/* align table content */
.center{
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

.commitinfo{
	background: #073642;
	color: #EEE8D5;
	padding: 4px 12px;
}

/**** source view ****/

h2.link-header a{
	margin-top: 2em;
	text-decoration: none;
	color: #002B36;
}

h1{
	background: #002B36;
	color: #EEE8D5;
	padding: 8px 24px;
	margin-bottom: 0;
}

pre {
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

.line-highlight::before{
	display: none;
}

.line-highlight, .temporary{
	text-align: right;
	cursor: pointer;
	pointer-events: all !important;
}

/* 
 * jsondiv stores the pmd output data in JSON format for the js scripts to use
 * it should not be displayed
 */
#jsondiv{
	display: none;
}

/* overwriting vex color theme */
.vex-content{
	background: #002B36 !important;
	color: #EEE8D5 !important;
}

.vex-dialog-buttons button{
	background: #268BD2 !important;
	color: #EEE8D5 !important;
}
